/* General */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  font-family: 'Roboto', sans-serif !important;
  height:100% !important;
  margin: auto !important;
}

section {
  margin-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center !important;
}

table, td, tr {
  text-align: center !important;
}

footer {
  padding: 1.25%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #FF9900;
  background-color: #073673 !important;
  margin-top: 20px;
}

.btn-default {
  text-align: right !important;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: 500;
}

/* Menu */

.navbar-default{
	background-color: #073673 !important;
	border: 0px;
  box-shadow:0px 0px 5px grey;
}

.navbar-brand img{
  height: 45px;
}

.navbar-nav a{
	color: #FF9900 !important;
	padding:25px !important;
  font-weight: bold;
  font-size: 1.2em;
}

/* Index */

#mapa_cadastro {
  width:100% !important;
  height: 600px !important;
  min-height:100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

#mapa_poll {
  width:100% !important;
  height: 600px !important;
  min-height:100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Perguntas */

.pergunta {
  text-align: center !important;
  box-shadow: 2px 3px rgba(0,0,0,0.5);
  background-color: #073673 !important;
  color: white;
}

.pergunta h2{
  color: #FF9900;
}

.pergunta ul li{
  display: inline-block;
  text-decoration: none;
  padding: 3%;
}

.pergunta a{
  font-size: 1.5em;
  color: white;
}
