
      <section class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-offset-3 col-md-6">
                <form>
                    <h1>Cadastrar Pergunta</h1>
                <div class="form-group">
				    <label for="pergunta">Escreva a pergunta que deseja cadastrar</label>
                    <textarea class="form-control" data-ng-model="Admin.form.pergunta" rows="3" id="pergunta"></textarea>
                </div>
                <button data-ng-click="Admin.cadPergunta(Admin.form)" class="btn btn-default" type="submit" name="">Cadastrar Pergunta</button>
                </form><br><br>
            </div>
          </div>
      </section>
