    <section class="container-fluid">
    	<div class="row-fluid">
    		<div class="col-md-6">
    			<iframe class="z-depth-2" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    		</div>

    		<div class="col-md-offset-1 col-md-4">
    			<h1>Cadastro de Usuário</h1><br>
    			<form>
					<div class="form-group">
						<label for="username">Digite o nome de usuário:</label>
						<input type="text" class="form-control" id="username" required>
					</div>
					<div class="form-group">
						<label for="email">Digite o seu e-mail:</label>
						<input type="email" class="form-control" id="email" required>
					</div>
					
					<div class="form-group">
						<label for="senha">Digite a sua senha:</label>
						<input type="password" class="form-control" id="senha" required>
					</div>
					<div class="form-group">
						<label for="sexo">Informe o seu sexo:</label>
						<select class="form-control" id="sexo" required>
							<option value="feminino">Feminino</option>
							<option value="masculino">Masculino</option>
						</select>
					</div>
					<div class="form-group">
						<label for="idade">Informe a sua idade:</label>
						<input type="number" min="0" max="100" class="form-control" id="idade" required>
					</div>
					<div class="form-group">
						<label for="escolaridade">Informe a sua escolaridade:</label>
						<select class="form-control" id="escolaridade" required>
							<option value="Ensino Fundamental">Ensino Fundamental</option>
							<option value="Ensino Médio">Ensino Médio</option>
							<option value="Ensino Superior">Ensino Superior</option>
						</select>
					</div>
					<div class="form-group">
						<label for="renda">Informe a sua renda:</label>
						<input type="number" min="0" max="1" class="form-control" id="renda" required>
					</div>

					<input class="form-group btn btn-default" type="reset" name="Limpar">
					<input class="btn btn-default" type="submit" name="Enviar">
    			</form><br>
    		</div>
    	</div>
    </section>

