    <section class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-offset-4 col-md-4">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" data-ng-model="Login.form.email" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" data-ng-model="Login.form.senha" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" data-ng-click="Login.login(Login.form)" class="btn btn-default">Enviar</button>
            <button type="submit" data-ng-click="Login.goToCad()" class="btn btn-default">Cadastrar-se</button>
          </form>
        </div>
      </div>
    </section>
